@model IEnumerable<LB.Models.Acces>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Acces";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Usuari")
            </th>
            <th>
                @Html.DisplayName("Contrasenya")
            </th>
            <th>
                @Html.DisplayName("Link")
            </th>
            <th>
                @Html.DisplayName("Acces")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.cusualt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.faltrto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cusumod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fmod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hmod)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userWp)
                </td>
                <td>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        @Html.DisplayFor(modelItem => item.passWd)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.linkWp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.cusualt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.faltrto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cusumod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fmod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hmod)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idlb">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.idlb">Detalls</a> |
                    <a asp-action="Delete" asp-route-id="@item.idlb">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
