@model LB.Models.Clients.ClientsPreDisseny

@{
    ViewData["Title"] = "Details";
}
@if (SignInManager.IsSignedIn(User))
{

    <h1>Details</h1>


        <div>
            <h4>ClientsPreDisseny</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ptheme)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ptheme)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.envcli)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.envcli)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.themebuy)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.themebuy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.pctheme)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.pctheme)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.bouby)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.bouby)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.paid)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.paid)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ipredis">Edit</a> |
            <a asp-action="Index">Back to List</a>

            <a asp-action="IndexClients">Tornar</a>
        </div>
    }