@model IEnumerable<LB.Models.Clients.ClientsPreDisseny>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ptheme)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.envcli)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.themebuy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pctheme)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bouby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.paid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cusualt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ptheme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.envcli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.themebuy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pctheme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bouby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.paid)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ipredis">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ipredis">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ipredis">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}