@model IEnumerable<LB.Models.MailLB>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Mail";
}

<h1>Mail</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Nou</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nom usuari")
                </th>
                <th>
                    @Html.DisplayName("Mail")
                </th>
                <th>
                    @Html.DisplayName("Contrasenya")
                <th>
                    @Html.DisplayName("Link")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.dnommail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mailuser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lnkmail)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.idlbmail">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.idlbmail">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.idlbmail">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}