@model IEnumerable<LB.Models.Clients.ClientsFtp>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userftp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passftp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ipserver)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.cusualt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.faltrto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cusumod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fmod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hmod)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userftp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passftp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ipserver)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.cusualt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.faltrto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cusumod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fmod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hmod)
                        </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.iftp">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.iftp">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.iftp">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}