@model LB.Models.Clients.ClientsLB

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientsLB</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host.ihos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ftp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ftp.iftp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreDis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreDis.ipredis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dnom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dnom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dnommail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dnommail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.est)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.est)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dobs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dobs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tcli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tcli)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cusualt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cusualt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.faltrto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.faltrto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cusumod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cusumod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fmod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fmod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hmod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hmod)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.icli">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
