@model IEnumerable<LB.Models.Clients.ClientsLB>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.dnom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dnommail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.est)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dobs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tcli)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.dnom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dnommail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.est)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dobs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tcli)
                    </td>
                    <td>
                        <a asp-action="Acces" asp-route-id="@item.icli">Acces</a> |
                        <a asp-action="Disseny" asp-route-id="@item.icli">Predisseny</a> |
                        <a asp-action="Hosting" asp-route-id="@item.icli">Hosting</a> |
                        <a asp-action="FTP" asp-route-id="@item.icli">FTP</a> |
                        <a asp-action="Edit" asp-route-id="@item.icli">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.icli">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.icli">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
