@model LB.Models.Clients.ClientHosting

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CliHos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userhos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userhos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.passhos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.passhos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.linkwphos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.linkwphos)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cusualt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cusualt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.faltrto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.faltrto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cusumod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cusumod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fmod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fmod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hmod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hmod)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ihos" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
