@model IEnumerable<LB.Models.Clients.ClientHosting>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userhos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passhos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.linkwphos)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.cusualt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.faltrto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cusumod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fmod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hmod)
                    </th>*@
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userhos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passhos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.linkwphos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cusualt)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.faltrto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cusumod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fmod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hmod)
                        </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ihos">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ihos">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ihos">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}